<body>
    <h1>
        <!-- Title goes here -->
        <%= title %>
    </h1>
    <p>Current second: <%= seconds %></p>
    <!-- Current second goes here -->
    <% if (seconds % 2 === 0 ) { %>
        <ul>
            <% items.forEach((fruit) => {
                <li><%=fruit%></li>
            }) %>            
        </ul>
    <% } else {
        <p>No items to display</p>    
    } %>
    
    <p>
        <!-- HTML content goes here -->
        <%- htmlContent %>
    </p>

    <!-- Footer goes here -->
    <%- include("footer.ejs") %>
</body>